# print hello world

###### print hello world

##### print hello world

#### print hello world

### print hello world

In [1]:
print("hello world")

hello world

In [2]:
print("preeti")

preeti

In [3]:
print("data science")

data science

## variables

In [16]:
name="preeti"
age=21
maritalstatus="unmarried"

In [17]:
print(name)
print(age)
print(maritalstatus)

preeti
21
unmarried

In [18]:
name= "preeti"
name= "roger"
print(name)

roger

In [21]:
x=y=z=24
print(x)
print(y)
print(z)

24
24
24

In [22]:
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

In [23]:
name="preeti"
print(name)
type(name)

preeti

str

## implicit conversion

#### when the conversion is done by python interpreter without programmer's intervention

In [24]:
x=10
y=5
x+y
x-y
x*y
x/y
print(x+y)
print(x-y)
print(x*y)
print(x/y)

15
5
50
2.0

## explicit conversion

In [26]:
x=10
y="ds"
x+y=

SyntaxError: cannot assign to expression (3449043648.py, line 3)

In [27]:
x=10
y="10"
x+y=

SyntaxError: cannot assign to expression (3624797396.py, line 3)

In [28]:
x=10
y="10"
x+int(y)

20

In [31]:
x="ds"
y="da"
x+y

'dsda'

In [32]:
x=10
y=10.4
x+y

20.4

#### class assignment

In [39]:
x=10
float(x)

10.0

In [47]:
x=10
str(x)

'10'

In [41]:
x=10.5
int(x)

10

In [46]:
x=10.54444
str(x)

'10.54444'

In [43]:
x="ds"
int(x)

ValueError: invalid literal for int() with base 10: 'ds'

In [44]:
x="ds"
float(x)

ValueError: could not convert string to float: 'ds'